:root{
    --light: #F7EDE2;
    --salvia: #84A59D;
    --cipria: #F5CAC3;
    --bordeux: #540b0e;
    --autunno: #F6BD60;
}

body{
    background: var(--salvia);
}

@font-face {
    font-family: titolo;
    src: url(./media/Blue\ Style.ttf);
}

h1{
    font-family: titolo;
    text-shadow: 2px 2px var(--cipria);
    font-size: 80px;
}

h2{
    font-family: 'Glass Antiqua', cursive;
    text-shadow: 2px 2px var(--cipria);

}

h3,h4,h5{
    font-family: 'Glass Antiqua', cursive;
}

*{
    font-family: 'Rajdhani', sans-serif;
}

/*testi*/

.text-light{
    color: var(--light);
}

.text-salvia{
    color: var(--salvia);
}

.text-cipria{
    color: var(--cipria);
}

.text-bordeux{
    color: var(--bordeux);
}

.text-autunno{
    color: var(--autunno);
}

/*bg*/

.bg-light{
    background-color: var(--light);
}

.bg-salvia{
    background-color: var(--salvia);
}

.bg-cipria{
    background-color: var(--cipria);
}

.bg-bordeux{
    background-color: var(--bordeux);
}

.bg-autunno{
    background-color: var(--autunno);
}

/*bordi*/

.border-light{
    border: 2px solid var(--light);
}

.border-salvia{
    border: 2px solid var(--salvia);
}

.border-cipria{
    border: 2px solid var(--cipria);
}

.border-bordeux{
    border: 2px solid var(--bordeux);
}

.border-autunno{
    border: 2px solid var(--autunno);
}

/*navbar*/

.navbar{
    background: rgba(246, 189, 96, 0.733);
}

#navJs{
    transition: 0.4s;
}

#navIcon{
    transition: 0.4s;
    color: var(--bordeux);

}

/*header*/
#myvideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.btn-cus{
    background-color: var(--cipria);
    height: 60px;
    width: 150px;
    border-radius: 20px;
    border: 5px double var(--bordeux);
    font-size: large;
    color: var(--bordeux);
    transition: 0.4s;
}

.btn-cus:hover{
    background-color: var(--bordeux);
    height: 60px;
    width: 150px;
    border-radius: 20px;
    border: 5px double var(--cipria);
    font-size: large;
    color: var(--cipria);
}

.btn-cus2{
    background-color: var(--cipria);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 8px double var(--bordeux);
    color: var(--bordeux);
    transition: 0.4s;
}

.btn-cus2:hover{
    background-color: var(--bordeux);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 8px double var(--cipria);
    color: var(--cipria);
}

.logoSalvia{
    width: 40px;
}

.logoBordaux{
    width: 40px;
}

/*main*/

.category-card{
    border: double 10px var(--cipria);
    border-radius: 50px;
}

.border-dashed{
    border: dashed 4px var(--cipria);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: url(./media/cardwr.png);
    background-size: cover;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-cus{
    border-radius: 100%;
    background-color: var(--autunno);
    background-size: cover;
    width: 400px;
}

@media screen and (max-width: 900px) {
    .img-cus{
        width: 200px;
    }    
}

.increment-numbers{
    font-size: 50px;
    color: var(--bordeux);
    font-weight: 700;
}


.swiper {
    height: 400px;
  }

.card-cus-sw{
    height: 200px;
    width: 300px;
    border: 5px solid var(--cipria);
    background-color: var(--autunno);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.col-cus-trans{
    border: 3px solid var(--cipria);
    color: var(--cipria);
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.col-cus-trans:hover{
    border: 3px solid var(--bordeux);
    color: var(--bordeux);
    padding: 20px;
    transform: scale(1.2);
}

#scroller{
    position: fixed;
    bottom: 2%;
    right: 4%;
    z-index: 2;
}

/*per annunci e chi siamo*/
.header-img{
   background-image: url(./media/headerimg.jpg);
   background-size: cover;
   background-position: center;
   height: 50%;
}

/*annunci*/
.inputNumber{
    font-size: 40px;
    color: var(--autunno);
    font-weight: 600;
  }

  .card-head{
    margin-bottom: 10px;
    border-radius: 20px;
    border: 3px dashed var(--autunno);
    color: var(--bordeux);

  }

  .img-card-Cus{
    height: 100px;
    border-radius: 50px;
    border: 2px double var(--autunno);
    margin-top: 4px;
  }

/*chi siamo*/
.circle{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 10px double var(--cipria);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opener{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 10px double var(--autunno);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: var(--light);
    cursor: pointer;
    transition: 1s;
}

.moved{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 10px double var(--cipria);
    position: absolute;

    background-image: url(./media/Emolga.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bordeux);
    transition: 1s;
    cursor: pointer;
}

.authorsCard{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border: 10px double var(--bordeux);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--cipria);
}

